* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satisfy', cursive;
    font-family: 'Zilla Slab', serif;
}

body {}

.container {
    width: 100vw;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(204, 201, 201);
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: rgb(148, 33, 33);
    font-size: 20px;
    font-weight: 500;
    margin-left: 0.3em;
}

.logo {
    color: rgb(148, 33, 33);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

#main {
    margin-top: 3em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 4em;
    background-color: rgb(154, 149, 149);
}

#main h1 {
    color: rgb(25, 22, 22);
    font-size: 40px;
    margin: 0.5em;
}

.btn-box a {
    margin-top: 1em;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: gray;
    border: 2px solid gray;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    padding: 0.2em;
}

.btn-box a:hover {
    color: burlywood;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: burlywood;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background-color: gray;

}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.icons {
    text-align: center;
    background-color: rgb(239, 239, 239);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 7vh;
    border-radius: 50%;
    margin-left: 0.5em;
}

.img:hover {
    box-shadow: 2px 2px 14px grey;
    border: 1px solid gray;
}

.container-img {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 232, 232);
}

.pic {
    width: 50%;
    height: 60vh;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(204, 201, 201);
    color: rgb(148, 33, 33);
}
@media screen and (max-width:1200px) {
    .container-img {
        height: 50vh;
    }

    .pic {
        width: 80%;
        height: 30vh;
    }

}